<%= render 'shared/navbar' %>

<div class="container">
  <div class="top-header">
    <%#= link_to "tunemates.", dashboard_path, class: 'h3' %>
    <h2>Hi <%= current_user.first_name %> <span class="wave">👋</span></h2>
  </div>

  <div class="cards">
    <%= link_to games_path, method: :post do %>
      <div class="card-game">
          <div class="new-game-image">
          </div>
        <div class="card-game-info">
          <div>
            <h2>New Game</h2>
          </div>
          <h2><i class="far fa-plus-square"></i></h2>
        </div>
      </div>
    <% end %>

  <!-- real cards start here -->

    <% @invited_users.each do |invited_user| %>
      <% if invited_user.user == current_user && invited_user.game.status == false %>
      <%= link_to lobby_game_path(invited_user.game) do %>
        <div class="card-game">
          <div class=<%= @cards.sample %>>
          </div>
        <div class="card-game-info">
          <div>
            <h2><%= invited_user.game.user.first_name %>'s Game</h2>
            <p>You've been invited to play!</p>
          </div>
          <p class="button-grey">Lobby</p>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
