<%= render 'shared/navbar' %>
<div class="container" style="height: 100vh;">
  <div class="top-header">
    <%#= link_to "tunemates.", dashboard_path, class: 'h3' %>
    <h2><%= @game.user.first_name %>'s Game</h2>
  </div>
  <hr>
  <br>
  <div class="lobby-box">
    <div>
      <% if @game.category1_id.nil? || @game.category2_id.nil?  %>
        <h2 class="text-center nicknames"><%= simple_form_for @game, :url => game_invited_users_path(@game), remote: true, :method => :post do |f| %>

        <%= select_tag :user, options_for_select(@users.collect{ |u| [u.first_name, u.id] }), class: "select2", style: "width: 278px;", multiple: true %>

          <%= f.button :submit, id: 'simple-form-submit', class: "button-yellow", style: "margin-top: 10px; margin-bottom: 10px;", value: "Invite your tunemates!" %></h2>
       <% end %>
      <% end %>
    </div>

     <div class="text-center">
      <!-- <ul style="list-style-type:none;"> -->
      <% @game.invited_users.each do |user| %>
        <p><span class=<%= @colours.sample %>><%= user.nickname %></span></p>
      <% end %>
      <!-- </ul> -->
    </div>

    <div class="ctas">
      <% if current_user == @game.user %>
        <% if @game.category1_id.nil? || @game.category2_id.nil? %>
          <div class="text-center m-4">
            <%= link_to "View categories", category_game_path(@game), class: 'button-red' %>
          </div>
        <% end %>
      <% end %>

      <% if !@game.category1_id.nil? && @game.rounds.count < 6 %>
        <div>
          <h2 class="text-center mt-5"><%= link_to "Select Songs", song_selection1_game_path(@game), class: 'button-blue' %></h2>
        </div>
      <% end %>

      <% if @game.rounds.count >= 2 %>
        <div>
          <h2 class="text-center mt-5"><%= link_to "Start Game", game_path(@game), class: 'button-red' %></h2>
        </div>
      <% end %>
    </div>
  </div>
</div>
