<%= render 'shared/navbar' %>
  <div class="top-cont">
    <div id="wrapper">
    <div class="container mt-3">
      <div class="text-center">
        <strong><h2><%= @invited_users.order(score: :desc).first.nickname %> wins! 🎉🎉</h2></strong>
        </div>
      <div class="results-container">
        <table class="table" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <td scope="col"><!-- Pos --></th>
              <td scope="col" vertical-align="middle"><span class="wave"> <i class="fas fa-crown text-center" style= "color: #F7CA2F; font-size: 29px;"></i></span></th>
              <td scope="col"></th>
              <td scope="col"></th>
            </tr>
          </thead>

          <% @invited_users.order(score: :desc).each_with_index do |user, index| %>
          <tr>
            <td vertical-align= "middle"><b><%= index +1 %></b></td>
            <td vertical-align= "middle"><%= image_tag user.user.photo.url, class: "avatar"%></td>
            <td vertical-align= "middle"><p><span class="player-button-<%= user.user.color %>"><%= user.nickname %></span></p></td>
            <td vertical-align= "middle"><b><%= user.score %></b></td>
          </tr>
          <% end %>
        </table>

        <br>
        <div class="text-center">
          <% if @invited_users.order(score: :desc).first.user != current_user %>
          <% currentUserScore = @invited_users.where(user_id: current_user).first %>
          <% loserDiff = @invited_users.order(score: :desc).first.score - currentUserScore.score %>

          <h6> <%= @invited_users.order(score: :desc).first.nickname.capitalize %>'s winning total was <strong><%= @invited_users.order(score: :desc).first.score %> points</strong>.</h6>
          <h6>They scored <%= loserDiff %> more points than you.</h6>
          <h6>You didn't win this time.. why don't you challenge <%= @invited_users.order(score: :desc).first.nickname%> to another game? 😉</h6>
          <% else %>
          <% diff = @invited_users.order(score: :desc).first.score - @invited_users.order(score: :desc).second.score %>
          <h6>Congratulations! You won by <b><%= diff %> points 🙌🏻 </b></h6>
          <h6>Want to give <%= @invited_users.order(score: :desc).second.nickname%> another chance to beat you? 😉</h6>
          <h6></h6>
          <% end %>
        </div>
      </div>
      <div class="text-center">
        <br>
        <br>
        <%= link_to "Back to Dashboard", dashboard_path, class: 'button-light-grey' %>
        <br>
        <br>
        <br>
        <%= link_to "Play Again", dashboard_path, class: 'button-red'%>
      </div>
      <div>
        <%=  audio_tag("https://p.scdn.co/mp3-preview/c6b4289f242f7297752d77f4113455ff95ae2e50?cid=77b820f032ae413a8ac5dad827aa72d1", autoplay: true, controls: false) %>
      </div>
    </div>
    <div class="confetti-500"></div>
    <div class="confetti-499"></div>
    <div class="confetti-498"></div>
    <div class="confetti-497"></div>
    <div class="confetti-496"></div>
    <div class="confetti-495"></div>
    <div class="confetti-494"></div>
    <div class="confetti-493"></div>
    <div class="confetti-492"></div>
    <div class="confetti-491"></div>
    <div class="confetti-490"></div>
    <div class="confetti-489"></div>
    <div class="confetti-488"></div>
    <div class="confetti-487"></div>
    <div class="confetti-486"></div>
    <div class="confetti-485"></div>
    <div class="confetti-484"></div>
    <div class="confetti-483"></div>
    <div class="confetti-482"></div>
    <div class="confetti-481"></div>
    <div class="confetti-480"></div>
    <div class="confetti-479"></div>
    <div class="confetti-478"></div>
    <div class="confetti-477"></div>
    <div class="confetti-476"></div>
    <div class="confetti-475"></div>
    <div class="confetti-474"></div>
    <div class="confetti-473"></div>
    <div class="confetti-472"></div>
    <div class="confetti-471"></div>
    <div class="confetti-470"></div>
    <div class="confetti-469"></div>
    <div class="confetti-468"></div>
    <div class="confetti-467"></div>
    <div class="confetti-466"></div>
    <div class="confetti-465"></div>
    <div class="confetti-464"></div>
    <div class="confetti-463"></div>
    <div class="confetti-462"></div>
    <div class="confetti-461"></div>
    <div class="confetti-460"></div>
    <div class="confetti-459"></div>
    <div class="confetti-458"></div>
    <div class="confetti-457"></div>
    <div class="confetti-456"></div>
    <div class="confetti-455"></div>
    <div class="confetti-454"></div>
    <div class="confetti-453"></div>
    <div class="confetti-452"></div>
    <div class="confetti-451"></div>
    <div class="confetti-450"></div>
    <div class="confetti-449"></div>
    <div class="confetti-448"></div>
    <div class="confetti-447"></div>
    <div class="confetti-446"></div>
    <div class="confetti-445"></div>
    <div class="confetti-444"></div>
    <div class="confetti-443"></div>
    <div class="confetti-442"></div>
    <div class="confetti-441"></div>
    <div class="confetti-440"></div>
    <div class="confetti-439"></div>
    <div class="confetti-438"></div>
    <div class="confetti-437"></div>
    <div class="confetti-436"></div>
    <div class="confetti-435"></div>
    <div class="confetti-434"></div>
    <div class="confetti-433"></div>
    <div class="confetti-432"></div>
    <div class="confetti-431"></div>
    <div class="confetti-430"></div>
    <div class="confetti-429"></div>
    <div class="confetti-428"></div>
    <div class="confetti-427"></div>
    <div class="confetti-426"></div>
    <div class="confetti-425"></div>
    <div class="confetti-424"></div>
    <div class="confetti-423"></div>
    <div class="confetti-422"></div>
    <div class="confetti-421"></div>
    <div class="confetti-420"></div>
    <div class="confetti-419"></div>
    <div class="confetti-418"></div>
    <div class="confetti-417"></div>
    <div class="confetti-416"></div>
    <div class="confetti-415"></div>
    <div class="confetti-414"></div>
    <div class="confetti-413"></div>
    <div class="confetti-412"></div>
    <div class="confetti-411"></div>
    <div class="confetti-410"></div>
    <div class="confetti-409"></div>
    <div class="confetti-408"></div>
    <div class="confetti-407"></div>
    <div class="confetti-406"></div>
    <div class="confetti-405"></div>
    <div class="confetti-404"></div>
    <div class="confetti-403"></div>
    <div class="confetti-402"></div>
    <div class="confetti-401"></div>
    <div class="confetti-400"></div>
    <div class="confetti-399"></div>
    <div class="confetti-398"></div>
    <div class="confetti-397"></div>
    <div class="confetti-396"></div>
    <div class="confetti-395"></div>
    <div class="confetti-394"></div>
    <div class="confetti-393"></div>
    <div class="confetti-392"></div>
    <div class="confetti-391"></div>
    <div class="confetti-390"></div>
    <div class="confetti-389"></div>
    <div class="confetti-388"></div>
    <div class="confetti-387"></div>
    <div class="confetti-386"></div>
    <div class="confetti-385"></div>
    <div class="confetti-384"></div>
    <div class="confetti-383"></div>
    <div class="confetti-382"></div>
    <div class="confetti-381"></div>
    <div class="confetti-380"></div>
    <div class="confetti-379"></div>
    <div class="confetti-378"></div>
    <div class="confetti-377"></div>
    <div class="confetti-376"></div>
    <div class="confetti-375"></div>
    <div class="confetti-374"></div>
    <div class="confetti-373"></div>
    <div class="confetti-372"></div>
    <div class="confetti-371"></div>
    <div class="confetti-370"></div>
    <div class="confetti-369"></div>
    <div class="confetti-368"></div>
    <div class="confetti-367"></div>
    <div class="confetti-366"></div>
    <div class="confetti-365"></div>
    <div class="confetti-364"></div>
    <div class="confetti-363"></div>
    <div class="confetti-362"></div>
    <div class="confetti-361"></div>
    <div class="confetti-360"></div>
    <div class="confetti-359"></div>
    <div class="confetti-358"></div>
    <div class="confetti-357"></div>
    <div class="confetti-356"></div>
    <div class="confetti-355"></div>
    <div class="confetti-354"></div>
    <div class="confetti-353"></div>
    <div class="confetti-352"></div>
    <div class="confetti-351"></div>
    <div class="confetti-350"></div>
    <div class="confetti-349"></div>
    <div class="confetti-348"></div>
    <div class="confetti-347"></div>
    <div class="confetti-346"></div>
    <div class="confetti-345"></div>
    <div class="confetti-344"></div>
    <div class="confetti-343"></div>
    <div class="confetti-342"></div>
    <div class="confetti-341"></div>
    <div class="confetti-340"></div>
    <div class="confetti-339"></div>
    <div class="confetti-338"></div>
    <div class="confetti-337"></div>
    <div class="confetti-336"></div>
    <div class="confetti-335"></div>
    <div class="confetti-334"></div>
    <div class="confetti-333"></div>
    <div class="confetti-332"></div>
    <div class="confetti-331"></div>
    <div class="confetti-330"></div>
    <div class="confetti-329"></div>
    <div class="confetti-328"></div>
    <div class="confetti-327"></div>
    <div class="confetti-326"></div>
    <div class="confetti-325"></div>
    <div class="confetti-324"></div>
    <div class="confetti-323"></div>
    <div class="confetti-322"></div>
    <div class="confetti-321"></div>
    <div class="confetti-320"></div>
    <div class="confetti-319"></div>
    <div class="confetti-318"></div>
    <div class="confetti-317"></div>
    <div class="confetti-316"></div>
    <div class="confetti-315"></div>
    <div class="confetti-314"></div>
    <div class="confetti-313"></div>
    <div class="confetti-312"></div>
    <div class="confetti-311"></div>
    <div class="confetti-310"></div>
    <div class="confetti-309"></div>
    <div class="confetti-308"></div>
    <div class="confetti-307"></div>
    <div class="confetti-306"></div>
    <div class="confetti-305"></div>
    <div class="confetti-304"></div>
    <div class="confetti-303"></div>
    <div class="confetti-302"></div>
    <div class="confetti-301"></div>
    <div class="confetti-300"></div>
    <div class="confetti-299"></div>
    <div class="confetti-298"></div>
    <div class="confetti-297"></div>
    <div class="confetti-296"></div>
    <div class="confetti-295"></div>
    <div class="confetti-294"></div>
    <div class="confetti-293"></div>
    <div class="confetti-292"></div>
    <div class="confetti-291"></div>
    <div class="confetti-290"></div>
    <div class="confetti-289"></div>
    <div class="confetti-288"></div>
    <div class="confetti-287"></div>
    <div class="confetti-286"></div>
    <div class="confetti-285"></div>
    <div class="confetti-284"></div>
    <div class="confetti-283"></div>
    <div class="confetti-282"></div>
    <div class="confetti-281"></div>
    <div class="confetti-280"></div>
    <div class="confetti-279"></div>
    <div class="confetti-278"></div>
    <div class="confetti-277"></div>
    <div class="confetti-276"></div>
    <div class="confetti-275"></div>
    <div class="confetti-274"></div>
    <div class="confetti-273"></div>
    <div class="confetti-272"></div>
    <div class="confetti-271"></div>
    <div class="confetti-270"></div>
    <div class="confetti-269"></div>
    <div class="confetti-268"></div>
    <div class="confetti-267"></div>
    <div class="confetti-266"></div>
    <div class="confetti-265"></div>
    <div class="confetti-264"></div>
    <div class="confetti-263"></div>
    <div class="confetti-262"></div>
    <div class="confetti-261"></div>
    <div class="confetti-260"></div>
    <div class="confetti-259"></div>
    <div class="confetti-258"></div>
    <div class="confetti-257"></div>
    <div class="confetti-256"></div>
    <div class="confetti-255"></div>
    <div class="confetti-254"></div>
    <div class="confetti-253"></div>
    <div class="confetti-252"></div>
    <div class="confetti-251"></div>
    <div class="confetti-250"></div>
    <div class="confetti-249"></div>
    <div class="confetti-248"></div>
    <div class="confetti-247"></div>
    <div class="confetti-246"></div>
    <div class="confetti-245"></div>
    <div class="confetti-244"></div>
    <div class="confetti-243"></div>
    <div class="confetti-242"></div>
    <div class="confetti-241"></div>
    <div class="confetti-240"></div>
    <div class="confetti-239"></div>
    <div class="confetti-238"></div>
    <div class="confetti-237"></div>
    <div class="confetti-236"></div>
    <div class="confetti-235"></div>
    <div class="confetti-234"></div>
    <div class="confetti-233"></div>
    <div class="confetti-232"></div>
    <div class="confetti-231"></div>
    <div class="confetti-230"></div>
    <div class="confetti-229"></div>
    <div class="confetti-228"></div>
    <div class="confetti-227"></div>
    <div class="confetti-226"></div>
    <div class="confetti-225"></div>
    <div class="confetti-224"></div>
    <div class="confetti-223"></div>
    <div class="confetti-222"></div>
    <div class="confetti-221"></div>
    <div class="confetti-220"></div>
    <div class="confetti-219"></div>
    <div class="confetti-218"></div>
    <div class="confetti-217"></div>
    <div class="confetti-216"></div>
    <div class="confetti-215"></div>
    <div class="confetti-214"></div>
    <div class="confetti-213"></div>
    <div class="confetti-212"></div>
    <div class="confetti-211"></div>
    <div class="confetti-210"></div>
    <div class="confetti-209"></div>
    <div class="confetti-208"></div>
    <div class="confetti-207"></div>
    <div class="confetti-206"></div>
    <div class="confetti-205"></div>
    <div class="confetti-204"></div>
    <div class="confetti-203"></div>
    <div class="confetti-202"></div>
    <div class="confetti-201"></div>
    <div class="confetti-200"></div>
    <div class="confetti-199"></div>
    <div class="confetti-198"></div>
    <div class="confetti-197"></div>
    <div class="confetti-196"></div>
    <div class="confetti-195"></div>
    <div class="confetti-194"></div>
    <div class="confetti-193"></div>
    <div class="confetti-192"></div>
    <div class="confetti-191"></div>
    <div class="confetti-190"></div>
    <div class="confetti-189"></div>
    <div class="confetti-188"></div>
    <div class="confetti-187"></div>
    <div class="confetti-186"></div>
    <div class="confetti-185"></div>
    <div class="confetti-184"></div>
    <div class="confetti-183"></div>
    <div class="confetti-182"></div>
    <div class="confetti-181"></div>
    <div class="confetti-180"></div>
    <div class="confetti-179"></div>
    <div class="confetti-178"></div>
    <div class="confetti-177"></div>
    <div class="confetti-176"></div>
    <div class="confetti-175"></div>
    <div class="confetti-174"></div>
    <div class="confetti-173"></div>
    <div class="confetti-172"></div>
    <div class="confetti-171"></div>
    <div class="confetti-170"></div>
    <div class="confetti-169"></div>
    <div class="confetti-168"></div>
    <div class="confetti-167"></div>
    <div class="confetti-166"></div>
    <div class="confetti-165"></div>
    <div class="confetti-164"></div>
    <div class="confetti-163"></div>
    <div class="confetti-162"></div>
    <div class="confetti-161"></div>
    <div class="confetti-160"></div>
    <div class="confetti-159"></div>
    <div class="confetti-158"></div>
    <div class="confetti-157"></div>
    <div class="confetti-156"></div>
    <div class="confetti-155"></div>
    <div class="confetti-154"></div>
    <div class="confetti-153"></div>
    <div class="confetti-152"></div>
    <div class="confetti-151"></div>
    <div class="confetti-150"></div>
    <div class="confetti-149"></div>
    <div class="confetti-148"></div>
    <div class="confetti-147"></div>
    <div class="confetti-146"></div>
    <div class="confetti-145"></div>
    <div class="confetti-144"></div>
    <div class="confetti-143"></div>
    <div class="confetti-142"></div>
    <div class="confetti-141"></div>
    <div class="confetti-140"></div>
    <div class="confetti-139"></div>
    <div class="confetti-138"></div>
    <div class="confetti-137"></div>
    <div class="confetti-136"></div>
    <div class="confetti-135"></div>
    <div class="confetti-134"></div>
    <div class="confetti-133"></div>
    <div class="confetti-132"></div>
    <div class="confetti-131"></div>
    <div class="confetti-130"></div>
    <div class="confetti-129"></div>
    <div class="confetti-128"></div>
    <div class="confetti-127"></div>
    <div class="confetti-126"></div>
    <div class="confetti-125"></div>
    <div class="confetti-124"></div>
    <div class="confetti-123"></div>
    <div class="confetti-122"></div>
    <div class="confetti-121"></div>
    <div class="confetti-120"></div>
    <div class="confetti-119"></div>
    <div class="confetti-118"></div>
    <div class="confetti-117"></div>
    <div class="confetti-116"></div>
    <div class="confetti-115"></div>
    <div class="confetti-114"></div>
    <div class="confetti-113"></div>
    <div class="confetti-112"></div>
    <div class="confetti-111"></div>
    <div class="confetti-110"></div>
    <div class="confetti-109"></div>
    <div class="confetti-108"></div>
    <div class="confetti-107"></div>
    <div class="confetti-106"></div>
    <div class="confetti-105"></div>
    <div class="confetti-104"></div>
    <div class="confetti-103"></div>
    <div class="confetti-102"></div>
    <div class="confetti-101"></div>
    <div class="confetti-100"></div>
    <div class="confetti-99"></div>
    <div class="confetti-98"></div>
    <div class="confetti-97"></div>
    <div class="confetti-96"></div>
    <div class="confetti-95"></div>
    <div class="confetti-94"></div>
    <div class="confetti-93"></div>
    <div class="confetti-92"></div>
    <div class="confetti-91"></div>
    <div class="confetti-90"></div>
    <div class="confetti-89"></div>
    <div class="confetti-88"></div>
    <div class="confetti-87"></div>
    <div class="confetti-86"></div>
    <div class="confetti-85"></div>
    <div class="confetti-84"></div>
    <div class="confetti-83"></div>
    <div class="confetti-82"></div>
    <div class="confetti-81"></div>
    <div class="confetti-80"></div>
    <div class="confetti-79"></div>
    <div class="confetti-78"></div>
    <div class="confetti-77"></div>
    <div class="confetti-76"></div>
    <div class="confetti-75"></div>
    <div class="confetti-74"></div>
    <div class="confetti-73"></div>
    <div class="confetti-72"></div>
    <div class="confetti-71"></div>
    <div class="confetti-70"></div>
    <div class="confetti-69"></div>
    <div class="confetti-68"></div>
    <div class="confetti-67"></div>
    <div class="confetti-66"></div>
    <div class="confetti-65"></div>
    <div class="confetti-64"></div>
    <div class="confetti-63"></div>
    <div class="confetti-62"></div>
    <div class="confetti-61"></div>
    <div class="confetti-60"></div>
    <div class="confetti-59"></div>
    <div class="confetti-58"></div>
    <div class="confetti-57"></div>
    <div class="confetti-56"></div>
    <div class="confetti-55"></div>
    <div class="confetti-54"></div>
    <div class="confetti-53"></div>
    <div class="confetti-52"></div>
    <div class="confetti-51"></div>
    <div class="confetti-50"></div>
    <div class="confetti-49"></div>
    <div class="confetti-48"></div>
    <div class="confetti-47"></div>
    <div class="confetti-46"></div>
    <div class="confetti-45"></div>
    <div class="confetti-44"></div>
    <div class="confetti-43"></div>
    <div class="confetti-42"></div>
    <div class="confetti-41"></div>
    <div class="confetti-40"></div>
    <div class="confetti-39"></div>
    <div class="confetti-38"></div>
    <div class="confetti-37"></div>
    <div class="confetti-36"></div>
    <div class="confetti-35"></div>
    <div class="confetti-34"></div>
    <div class="confetti-33"></div>
    <div class="confetti-32"></div>
    <div class="confetti-31"></div>
    <div class="confetti-30"></div>
    <div class="confetti-29"></div>
    <div class="confetti-28"></div>
    <div class="confetti-27"></div>
    <div class="confetti-26"></div>
    <div class="confetti-25"></div>
    <div class="confetti-24"></div>
    <div class="confetti-23"></div>
    <div class="confetti-22"></div>
    <div class="confetti-21"></div>
    <div class="confetti-20"></div>
    <div class="confetti-19"></div>
    <div class="confetti-18"></div>
    <div class="confetti-17"></div>
    <div class="confetti-16"></div>
    <div class="confetti-15"></div>
    <div class="confetti-14"></div>
    <div class="confetti-13"></div>
    <div class="confetti-12"></div>
    <div class="confetti-11"></div>
    <div class="confetti-10"></div>
    <div class="confetti-9"></div>
    <div class="confetti-8"></div>
    <div class="confetti-7"></div>
    <div class="confetti-6"></div>
    <div class="confetti-5"></div>
    <div class="confetti-4"></div>
    <div class="confetti-3"></div>
    <div class="confetti-2"></div>
    <div class="confetti-1"></div>
    <div class="confetti-0"></div>
  </div>
</div>
