<h1>Welcome to the Game Show page</h1>

<%= image_tag @song.photo %>
<%= @song.title %>
<%= @song.artist %>

<br>

<%= @category1.name %>
<br>
<%= @category2.name %>

<br>

<% @users.each do |u| %>
  <%= u.nickname %>
<% end %>



