<h1>Welcome to the Game Show page</h1>

<%= image_tag @song.photo %>
<%= @song.title %>
<%= @song.artist %>

<div id="countdown">
  <div id="countdown-number"></div>
  <svg>
    <circle r="18" cx="20" cy="20"></circle>
  </svg>
</div>

 <%=  audio_tag(@song.spotify_link, autoplay: true, controls: false) %>

<br>
<br>

<form action=<%="/games/#{@game.id}/round_finished"%> method="post" id="guess" name="guess" data-remote="true">
<%= hidden_field_tag :authenticity_token, form_authenticity_token  %>
<%= hidden_field_tag :round_id, @round.id  %>
<%= hidden_field_tag :song_id, @song.id  %>
<%= hidden_field_tag :category_1_id, @category1.id  %>
<%= hidden_field_tag :category_2_id, @category2.id  %>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" name="category1" id="inlineCheckbox1" >
  <label class="form-check-label" for="inlineCheckbox1"> <%= @category1.name %> </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" name="category2" id="inlineCheckbox2">
  <label class="form-check-label" for="inlineCheckbox2"> <%= @category2.name %> </label>
</div>

<br>
<br>

<% @users.each do |u| %>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" name= "name" value=<%= u.nickname %>>
    <label class="form-check-label" for=<%= u.nickname %>> <%= u.nickname %> </label>
  </div>
<% end %>

<br>
<br>


<!-- <input type="submit" name="submit" class="inputButton" id="sendNewSms" value=" Send " /> -->
</form>

<script>
  function doSubmit() { document.getElementById('guess').submit(); }
  window.setTimeout(doSubmit, 30000);
</script>

<script>
  var countdownNumberEl = document.getElementById('countdown-number');
  var countdown = 1;

  countdownNumberEl.textContent = countdown;

  setInterval(function() {
    countdown = --countdown <= 0 ? 30 : countdown;

    countdownNumberEl.textContent = countdown;
  }, 1000);
</script>
