<div class="top-cont">
  <div class="container">
    <div id="game">
      <div id="artwork" class="center-game mt-3">
        <%= image_tag @song.photo, size: "250x250" %>
      </div>
      <div id="player" class="center-game" style= "margin-top: 5px; margin-bottom: 5px;">
        <%=  audio_tag(@song.spotify_link, autoplay: true, controls: true) %>
      </div>
       <div class="track-info">
         <div class="track-meta">
          <h5><%= @song.title %></h5>
          <h6 style= "color: #C4C4C4"><%= @song.artist %></h6>
         </div>
         <div id="countdown">
            <div id="countdown-number"></div>
            <svg>
            <circle r="18" cx="20" cy="20"></circle>
            </svg>
          </div>
       </div>

     <hr style="margin: 5px;">
     <div id="players-container">
              <form action=<%="/games/#{@game.id}/round_finished"%> method="post" id="guess" name="guess" data-remote="true">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token  %>
      <%= hidden_field_tag :round_id, @round.id  %>
      <%= hidden_field_tag :song_id, @song.id  %>
      <%= hidden_field_tag :category_1_id, @category1.id  %>
      <%= hidden_field_tag :category_2_id, @category2.id  %>
      <!-- comment out lines 30 / 31 appropriately for testing -->
      <% if current_user == @song.user %>
        <div class="text-center m-3">
          <h3>This is your song, no need to answer</h3>
          <br>
          <h3>Just look as if you are still trying to guess 😉</h3>
        </div>
      <% else %>
      <h6>Who chose this track?</h6>
        <div class="players-box">
          <div>
              <% @users.each do |u| %>
                <input class="hide" id=<%= u.nickname %> type="checkbox" name= "name" value=<%= u.nickname %>>
                <label class="in-game-player-button-<%= u.user.color %>" for=<%= u.nickname %>>
                  <%= u.nickname %>
                </label>
              <% end %>
            </div>
          </div>
        </div>
        <div class="categories-container">
          <h6>Which category?</h6>
         <div class="categories-box text-center">
          <div>
            <input class="hide" type="checkbox" name="category1" id="inlineCheckbox1" >
            <label class=<%= @catcolours.sample %> for="inlineCheckbox1">
              <%= @category1.name %>
            </label>
            </div>
            <div>
              <input class="hide" type="checkbox" name="category2" id="inlineCheckbox2">
              <label class=<%= @catcolours.sample %> for="inlineCheckbox2">
                <%= @category2.name %>
              </label>
            </div>
        <% end %>
         </div>
       </div>

      </form>
    </div>

  </div>
</div>

<script>
  function doSubmit() { document.getElementById('guess').submit(); }
  window.setTimeout(doSubmit, 15000);
</script>

<script>
  var countdownNumberEl = document.getElementById('countdown-number');
  var countdown = 1;

  countdownNumberEl.textContent = countdown;

  setInterval(function() {
    countdown = --countdown <= 0 ? 15 : countdown;

    countdownNumberEl.textContent = countdown;
  }, 1000);
</script>
