<div class="container">
  <div class="text-center mt-2">
    <h4>Now pick a song for...</h4>
    <br>
    <h3><%= @category.name %></h3>
    <br>
    <%= form_tag song_selection2_game_path(@game), :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search], style: "border: 2px solid #C4C4C4;"  %>
        <%= submit_tag "Search", :name => nil, class: 'btn btn-danger', style: "border-radius: 20px;" %>
      </p>
      <br>
    <% end %>

     <% @results.each do |song| %>
      <% if song.preview_url != nil %>
        <div class="card-song text-left">
          <%= link_to game_songs_path(game_id: params[:id], title: song.name, spotify_link: song.preview_url, artist: song.artists.first.name, photo: song.album.images.second["url"], category_id: @game.category2_id),  method: :post do  %>
          <%= image_tag song.album.images.second["url"], size: "80x80" %>
          <div class="card-song-infos">
            <h2><%= song.name %></h2>
            <p><%= song.artists.first.name %></p>
            <%= link_to "Add +", game_songs_path(game_id: params[:id], title: song.name, spotify_link: song.preview_url, artist: song.artists.first.name, photo: song.album.images.second["url"], category_id: @game.category2_id),  method: :post, class: 'btn btn-danger card-song-add', style: "border-radius: 20px;" %>
          </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
