<div class="container">
  <h3>Pick a Song For the Following Category: <%= @category.name %></h3>

  <%= form_tag song_selection2_game_path(@game), :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Image</th>
        <th scope="col">Artist</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |song| %>
        <% if song.preview_url != nil %>
        <tr>
          <th scope="row"><%= song.name %></th>
          <th> <%= image_tag song.album.images.third["url"] %> </th>
          <td><%= song.artists.first.name %></td>
          <td><%= link_to "Add", game_songs_path(game_id: params[:id], title: song.name, spotify_link: song.preview_url, artist: song.artists.first.name, photo: song.album.images.third["url"], category_id: @game.category2_id),  method: :post %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>


</div>
